.intestazione {
  background-color: rgb(0, 191, 255);
  background-image: url(img/pattern.png);
  background-repeat: repeat-x;
  background-size: 30%;
}

#logo {
  width: 150px;
  height: 100px;
  padding-left: 0px;
}

* {
  margin: 0%;
  margin-left: 80px;
  margin-right: 80px;
}

#pattern {
  width: 160px;
  height: 100px;
}

.autore {
  color: rgb(148, 148, 148);
}

.Booleaner {
  color: rgb(11, 156, 252);
}

#foto1 {
  width: 400px;
  height: 300px;
  margin: 0%;
}

#foto2 {
  width: 400px;
  height: 300px;
  margin: 0%;
}

#testo {
  font-size: 13px;
  margin-left: 80px;
}

.giallo {
  background-color: yellow;
  margin: 0%;
}

#elenco {
  margin: 0%;
}

.paragrafo {
  width: 500px;
  height: auto;
  background-color: rgb(180, 242, 253);
}

.secondo {
  width: 200px;
  height: auto;
  background-color: rgb(180, 242, 253);
}

.primo {
  width: 200px;
  height: auto;
  background-color: rgb(180, 242, 253);
}

.allinea {
  text-align: left;
  background-color: rgb(2, 174, 204);
  color: rgb(255, 255, 255);
}

.azzurro {
  background-color: rgb(180, 242, 253);
}

.titolofinale {
  margin-left: 80px;
  text-align: left;
  color: rgb(97, 97, 97);
}

.uno {
  margin-left: 80px;
  color: white;
  background-image: url("img/monitor.jpg");
  background-repeat: no-repeat;
  text-align: center;
  width: 280px;
  height: 150px;
  font-style: bold;
}

.due {
  margin-left: 80px;
  color: white;
  background-image: url("img/graph.jpg");
  background-repeat: no-repeat;
  text-align: center;
  width: 280px;
  height: 150px;
  font-style: bold;
}
